
*.jpg
*.jpg
*.jpg
*.jpg
data/training_set/train/desktop.ini
doc/main_-_Henrique_files/desktop.ini
doc/main_-_Henrique_files/figure-html/desktop.ini
data/training_set/images/img_2999.jpg
output/fit_train.RData
output/feature_.RData
output/fit_train.RData
*.jpg
*.jpg
*.jpg
*.jpg
*.jpg
*.jpg
